<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>AntiIntruder</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" media="all" 
          href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
        <script>
            
        </script>
    </head>
    <body>
        <h1>AntiIntruder</h1>
        <form data-th-action="@{/add}" data-th-object="${personObject}" method="post" class="form">
            <input type="text" data-th-field="*{username}" class="form-control"/>
            <input type="text" data-th-field="${password}" class="form-control"/>
            <input type="text" data-th-field="*{displayName}" class="form-control"/>
            <input type="text" data-th-field="*{description}" class="form-control"/>
            <button type="submit" class="btn btn-primary"> Add </button>
        </form>
        <ul>
            <li th:each="ent, stat: ${persons}">
                <span data-th-text="${ent.displayName}">Entity displayName</span>
                <span data-th-text="${ent.description}">Entity description</span>
                <span>
                    <select name="selectState" th:onchange="'window.location = \'     ' + @{/changeState(entityId=${ent.entityId}, stateId='')} + '\'+this.value;'"> 
                        <option th:each="sopt:${states}" th:value="${sopt.id}" th:text="${sopt.name}" th:selected="${ent.stateId}==${sopt.id}"/>
                    </select>
                </span>
                <a href="#" data-th-href="@{/delete(entityId=${ent.entityId})}" th:text="#{delete}">Delete</a>
            </li>
        </ul>
    </body>
</html>
