<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head lang="en">
        <title th:text='#{Title}'>AntiIntruder</title>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/png" href="../static/images/logo.png" th:href="@{/images/logo.png}" />
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" />
        <!--Timepicker-->
        <link rel="stylesheet" media="all" type="text/css" href="../static/css/jquery-ui.css" th:href="@{/css/jquery-ui.css}" />
        <link rel="stylesheet" media="all" type="text/css" href="../static/css/jquery-ui-timepicker-addon.min.css" th:href="@{/css/jquery-ui-timepicker-addon.min.css}" />
        <!--Chartist-->
        <link rel="stylesheet" type="text/css" href="..static/css/chartist.min.css" th:href="@{/css/chartist.min.css}" />
    </head>
    <body>
        <div id="main_container">
            <div id="header" th:replace="fragments/header :: header"> (header) </div>
            <div id="main_content">
                <form name="graphForm" th:action="@{/graph}" method="get">
                    <table>
                        <tbody>
                            <tr th:if="${#httpServletRequest.isUserInRole('ADMIN')}">
                                <td><label for="usernameGraph" th:text='#{Username}'>Username</label></td>
                                <td><input type="text" id="usernameGraph" name="usernameGraph" th:value="${usernameGraph}"/></td>
                            </tr>
                            <tr>
                                <td><label for="from" th:text='#{From}'>From</label></td>
                                <td><input type="datetime" id="from" name="from" th:value="${from}"/></td>
                            </tr>
                            <tr>
                                <td><label for="next" th:text='#{Next}'>Next</label></td>
                                <td><select id="next" name="next">
                                    <option value="12" th:selected="${next == 12}">12</option>
                                    <option value="24" th:selected="${next == 24}">24</option>
                                </select>
                                hours</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><button type="submit" class="btn-submit" th:text='#{Get_graph}'>Get graph</button></td>
                            </tr>  
                        </tbody>
                    </table>
                </form>
                <div th:switch="${#arrays.isEmpty(dailyStates)}">
                    <div th:case="false" class="ct-chart"></div>
                    <p th:case="true" th:text='#{No_data}'>No data</p>
                </div>
            </div>
            <div id="footer" th:replace="fragments/footer :: footer"> (footer)
            </div>
        </div>
        <!--Chartist-->
        <script type="text/javascript" charset="utf-8" src="../static/js/chartist.min.js" th:src="@{/js/chartist.min.js}" ></script>
        <script type="text/javascript" th:inline="javascript">
            /*<![CDATA[*/
            var staticData = [{
                    data: 120000,
                    className: "graphblack"
                }, {
                    data: 120000,
                    className: "graphempty"
                }, {
                    data: 620005,
                    className: "graphgrey"
                }, {
                    data: 8200000,
                    className: "graphgreen"
                }, {
                    data: 500000,
                    className: "graphyellow"
                }, {
                    data: 490000,
                    className: "graphred"
                }];
            var staticLabels = [];
            var firstLabel = true;
            new Chartist.Pie('.ct-chart', {
                series: /*[[${dailyStates}]]*/ staticData
            }, {
                donut: true,
                donutWidth: 20,
                startAngle: /*[[${startAngle}]]*/ 90,
                total: /*[[${total}]]*/ 43200000,
                showLabel: true,
                labelDirection: 'explode',
                labelOffset: 25,
                height: 600,
                chartPadding: {top: 30, right: 30, bottom: 30, left: 30},
                labelInterpolationFnc: function(value) {
                    if (firstLabel) {
                        firstLabel = false;
                        return /*[[${fromTime}]]*/ '3 am';
                    }
                    if (value < 600000) {
                        return '';
                    }
                    return Math.floor(value / 3600000) + 'h ' + Math.floor(value % 3600000 / 60000) + 'm';
                }
            });
            /*]]>*/
        </script>
        <!--Timepicker-->
        <script type='text/javascript' src='https://code.jquery.com/jquery.min.js'></script>
        <script type='text/javascript' src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script type='text/javascript' src="../static/js/jquery-ui-timepicker-addon.min.js" th:src="@{/js/jquery-ui-timepicker-addon.min.js}"></script>
        <script type='text/javascript' src="../static/js/jquery-ui-slider-access-addon.js" th:src="@{/js/jquery-ui-slider-access-addon.js}"></script>
        <script type="text/javascript">
            $(function() {
                $('#from').datetimepicker({
                    dateFormat: 'dd.mm.yy',
                    timeFormat: 'H:mm',
                    addSliderAccess: true,
                    sliderAccessArgs: {touchonly: false}
                });
            });
        </script>
    </body>

</html>
