<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head lang="en">
        <title th:text='#{Title}'>AntiIntruder</title>
        <link rel="icon" type="image/png" href="../static/images/logo.png" th:href="@{/images/logo.png}" />
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" />
        <!-- DataTables -->
        <link rel="stylesheet" type="text/css" href="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" />
    </head>
    <body>
        <div id="main_container">
            <div id="header" th:replace="fragments/header :: header"> (header) </div>
            <div id="main_content">
                <div th:if="${#httpServletRequest.isUserInRole('ADMIN')}">
                    <form data-th-action="@{/add}" data-th-object="${personObject}" method="post">
                        <table>
                            <tbody>
                                <tr>
                                    <td><label for="usernameField" th:text='#{Username}'>Username</label></td>
                                    <td><input id="usernameField" type="text" data-th-field="*{username}"/></td>
                                </tr>
                                <tr>
                                    <td><label for="password" th:text='#{Password}'>Password</label></td>
                                    <td><input id="password" type="text" data-th-field="${password.value}"/></td>
                                </tr>
                                <tr>
                                    <td><label for="displayName" th:text='#{Display_Name}'>Display Name</label></td>
                                    <td><input id="displayName" type="text" data-th-field="*{displayName}"/></td>
                                </tr>
                                <tr>
                                    <td><label for="description" th:text='#{Description}'>Description</label></td>
                                    <td><input id="description" type="text" data-th-field="*{description}"/></td>
                                </tr>
                                <tr>
                                    <td><button type="submit" th:text='#{Add}'> Add </button></td>
                                    <td />
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>    
                <br/>
                <table th:if="${not #lists.isEmpty(persons)}" class="list" id="persons">
                    <thead>
                        <tr>
                            <th th:text='#{Display_Name}'>Display Name</th>
                            <th th:text='#{Current_state}'>State</th>
                            <th th:text='#{DND_end}'>DND end</th>
                            <th th:text='#{Location}'>Location</th>
                            <th th:text='#{Job_title}'>Job title</th>
                            <th th:if="${#httpServletRequest.isUserInRole('ADMIN')}"></th>
                            <th th:if="${#httpServletRequest.isUserInRole('USER')}" th:text='#{Watch}'>Watch</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ent, stat: ${persons}">
                            <td data-th-text="${ent.displayName}">Entity display name</td>
                            <td th:switch="${#httpServletRequest.isUserInRole('ADMIN')}" style="text-align: center;">
                                <select th:case="true" name="selectState" th:onchange="'window.location = \'     ' + @{/changeState(id=${ent.id}, state='')} + '\'+this.value;'"> 
                                    <option th:each="sopt:${states}" th:value="${sopt}" th:text="${sopt.name}" th:selected="${ent.state}==${sopt}"/>
                                </select>
                                <img th:title='${ent.state.name}' th:case="false" class="tableimg" th:class="'tableimg state_' + ${ent.state.name}" src='../static/images/UNKNOWN.png' th:src="@{'/images/' + ${ent.state.name} + '.png'}" alt="" th:alt="${ent.state.name}" />
                            </td>
                            <td data-th-text="${#dates.format(ent.dndEnd, 'dd.M. HH:mm')}"  style="text-align: center;">N/A</td>
                            <td data-th-text="${ent.location}">Unknown</td>
                            <td data-th-text="${ent.description}"></td>
                            <td th:if="${#httpServletRequest.isUserInRole('ADMIN')}">
                                <form data-th-action="@{/delete}" th:object="${ent}" method="post">
                                    <input type="hidden" name="id" th:value="${ent.id}"/>
                                    <button type="submit" class="btn btn-primary" th:text='#{Delete}'>Delete</button>
                                </form>
                            </td>
                            <td th:if="${#httpServletRequest.isUserInRole('USER')}" th:switch="${#lists.contains(currentPerson.interactionEntitiesIds, ent.id)}" style="text-align: center;">
                                <a th:case="true" href="#" data-th-href="@{/cancelinteract(id=${ent.id})}">
                                    <img title="Do not notify me when person becomes available" th:title="'Do not notify me when ' + ${ent.displayName} + ' becomes available'" class="tableimg" alt='remove' th:alt="#{Remove_consultation}" src='../static/images/requested.png' th:src="@{/images/requested.png}"/>
                                </a>
                                <a th:case="false" href="#" data-th-href="@{/interact(id=${ent.id})}">
                                    <img title="Notify me when person becomes available" th:title="'Notify me when ' + ${ent.displayName} + ' becomes available'" class="tableimg" alt='request' th:alt="#{Request_consultation}" src='../static/images/removed.png' th:src="@{/images/removed.png}"/>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="footer" th:replace="fragments/footer :: footer"> (footer) </div>
        </div>
        <script type='text/javascript' src='https://code.jquery.com/jquery.min.js'></script>
        <script type="text/javascript" charset="utf-8" src="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
        <script type="text/javascript">
            $(function() {
                $('#nav_persons').addClass("current");
            });
            $(document).ready(function() {
                $.extend($.fn.dataTable.defaults, {
                    "bStateSave": true,
                    "sPaginationType": "two_button",
                    "oLanguage": {
                        "sProcessing": "<p th:text='#{dataTables.processing}'/>",
                        "sLengthMenu": "<p th:text='#{dataTables.lengthMenu}'/>",
                        "sZeroRecords": "<p th:text='#{dataTables.zeroRecords}'/>",
                        "sInfo": "<p th:text='#{dataTables.info}'/>",
                        "sInfoEmpty": "<p th:text='#{dataTables.infoEmpty}'/>",
                        "sInfoFiltered": "<p th:text='#{dataTables.infoFiltered}'/>",
                        "sInfoPostFix": "",
                        "sSearch": "<p th:text='#{dataTables.search}'/>",
                        "sUrl": "",
                        "oPaginate": {
                            "sFirst": "<p th:text='#{dataTables.first}'/>",
                            "sPrevious": "<p th:text='#{dataTables.previous}'/>",
                            "sNext": "<p th:text='#{dataTables.next}'/>",
                            "sLast": "<p th:text='#{dataTables.laset}'/>"
                        },
                        "oAria": {
                            "sSortAscending": "<p th:text='#{dataTables.sortAscending}'/>",
                            "sSortDescending": "<p th:text='#{dataTables.sortDescending}'/>"
                        }
                    }
                });
//                    var activTable = $('#activities').dataTable({
//            "aaSorting": [[0, "desc"]]
//            });
//                    var activTableAdmin = $('#activitiesAdmin').dataTable({
//            "aaSorting": [[0, "desc"]],
//                    "aoColumnDefs": [
//                    {"bSortable": false, "aTargets": [5]}
//                    ]
//            });
//                    var recordsTable = $('#records').dataTable({
//            "aaSorting": [[0, "desc"]],
//                    "bFilter": false
//            });
//                    var ladderTable = $('#globalLadder').dataTable({
//            "aoColumnDefs": [
//            {"bSortable": false, "aTargets": [0, 1]}
//            ],
//                    "aaSorting": [[2, "desc"]]
//            });
                var personsTable = $('#persons').dataTable({
                    "aaSorting": [[0, "asc"]]
//            ,
//                    "aoColumnDefs": [
//                    {"bSortable": false, "aTargets": [5]}
//                    ]
                });
//                    var tables = [personsTable];
//                    tables.forEach($('td').hover(function() {
//                    $(this.parentNode).addClass('highlighted');
//                    }, 
//                    function() {
//                    tables.forEach($('tr.highlighted').removeClass('highlighted'));
//                    }));
            });
        </script>
    </body>
</html>
