<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title th:text='#{Title}'>AntiIntruder</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" media="all" 
              href="../../css/default.css" th:href="@{/css/default.css}" />
        <style>
            table.list {
                width: 100%;
                border: 1px solid black;
                border-collapse: collapse;
            }
            table.list th {
                border: 1px solid black;
                border-collapse: collapse;
            }
            table.list td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <h1 th:text='#{Title}'>AntiIntruder</h1>
        <div th:if="${#httpServletRequest.remoteUser != null}">
            <p th:if="${#httpServletRequest.isUserInRole('ADMIN')}" th:text="ADMIN">
                ADMIN
            </p>
            <div th:if="${#httpServletRequest.isUserInRole('USER')}">
                <p th:text="${currentPerson.displayName}">Display name</p>
                <p th:text="#{Current_state}+ ': ' + ${currentPerson.state.name}">Current state: UNKNOWN</p>
                <p th:text="#{Description}+ ': ' + ${currentPerson.description}">Current state: UNKNOWN</p>
                <p th:text="#{Location}+ ': ' + ${currentPerson.location}">Current state: UNKNOWN</p>
                <!--<p th:text="${#strings.listJoin(#messages.listMsg(currentPerson.interactionEntitiesIds), ',')}"></p>-->
            </div>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Log out" />
            </form>
        </div>
        <div th:if="${#httpServletRequest.isUserInRole('ADMIN')}">
            <form data-th-action="@{/add}" data-th-object="${personObject}" method="post">
                <table>
                    <tbody>
                        <tr>
                            <td><label for="username" th:text='#{Username}'>Username</label></td>
                            <td><input id="username" type="text" data-th-field="*{username}"/></td>
                        </tr>
                        <tr>
                            <td><label for="password" th:text='#{Password}'>Password</label></td>
                            <td><input id="password" type="text" data-th-field="${password.value}"/></td>
                        </tr>
                        <tr>
                            <td><label for="displayName" th:text='#{Display_Name}'>Display Name</label></td>
                            <td><input id="displayName" type="text" data-th-field="*{displayName}"/></td>
                        </tr>
                        <tr>
                            <td><label for="description" th:text='#{Description}'>Description</label></td>
                            <td><input id="description" type="text" data-th-field="*{description}"/></td>
                        </tr>
                        <tr>
                            <td><button type="submit" th:text='#{Add}'> Add </button></td>
                            <td />
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>    
        <br/>
        <table class="list">
            <thead>
                <tr>
                    <th>Display Name</th>
                    <th>Description</th>
                    <th>State</th>
                    <th>Last change</th>
                    <th th:if="${#httpServletRequest.isUserInRole('ADMIN')}"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ent, stat: ${persons}">
                    <td data-th-text="${ent.displayName}">Entity display name</td>
                    <td data-th-text="${ent.description}">Entity description</td>
                    <td th:switch="${#httpServletRequest.isUserInRole('ADMIN')}">
                        <select th:case="true" name="selectState" th:onchange="'window.location = \'     ' + @{/changeState(id=${ent.id}, state='')} + '\'+this.value;'"> 
                            <option th:each="sopt:${states}" th:value="${sopt}" th:text="${sopt.name}" th:selected="${ent.state}==${sopt}"/>
                        </select>
                        <div th:case="false" th:text="${ent.state.name}" >Unknown</div>
                    </td>
                    <td data-th-text="${#dates.format(ent.lastStateChange, 'dd/MMM/yyyy HH:mm')}">Last change</td>
                    <td th:if="${#httpServletRequest.isUserInRole('ADMIN')}">
<!--                        <form data-th-action="@{/delete}" th:object="${ent}" method="post">
                            <input type="hidden" th:field="${ent.id}"/>
                            <button type="submit" class="btn btn-primary" th:text='#{Deletee}'>Deletee</button>-->
                            <a href="#" data-th-href="@{/delete(id=${ent.id})}" th:text="#{Delete}">Delete</a>
                        <!--</form>-->
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
