<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head lang="en">
        <title th:text='#{Title}'>AntiIntruder</title>
        <link rel="icon" type="image/png" href="../static/images/logo.png" th:href="@{/images/logo.png}" />
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" />
    </head>
    <body>
        <div id="main_container">
            <div id="header" th:replace="fragments/header :: header"> (header) </div>
            <div id="main_content">
                <form data-th-action="@{/personEdit/save}" data-th-object="${currentPerson}" method="post">
                    <table>
                        <tbody>
                            <tr>
                                <td><label for="displayName" th:text='#{Name_surname}'>Display Name</label></td>
                                <td><input id="displayName" type="text" data-th-field="*{displayName}"/></td>
                            </tr>
                            <tr>
                                <td><label for="description" th:text='#{Job_title}'>Job_title</label></td>
                                <td><input id="description" type="text" data-th-field="*{description}"/></td>
                            </tr>
                            <tr>
                                <td><label for="location" th:text='#{Location}'>Location</label></td>
                                <td>
                                    <select id="location">
                                        <option th:each="sopt:${T(eu.bato.anyoffice.frontend.web.data.PersonLocation).values()}" th:value="${sopt}" th:text="${sopt.name}" th:selected="*{location}==${sopt}" />
                                    </select>
                                    <input id="other_location" type="text" data-th-field="*{location}"/>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <button class='btn-submit' type="submit" th:text='#{Save}'> Save </button></td>
                                <td />
                            </tr>
                        </tbody>
                    </table>
                </form>    
            </div>
            <div id="footer" th:replace="fragments/footer :: footer"> (footer) </div>
        </div>
        <script type='text/javascript' src='../static/js/jquery.min.js' th:src="@{/js/jquery.min.js}" ></script>
        <script type="text/javascript" th:inline="javascript">
            /*<![CDATA[*/
            $(function() {
                //initially hide the textbox
                var selectedOption = $('#location').find('option:selected');
                if (selectedOption.text() === /*[[${currentPerson.location}]]*/'' 
                        || null === /*[[${currentPerson.location}]]*/'') {
                    $("#other_location").hide();
                    if (null === /*[[${currentPerson.location}]]*/'') {
                        $("#other_location").val(selectedOption.text());
                    }
                } else {
                    $('#location').val('OTHER');
                }
                $('#location').change(function() {
                    var selectedOption = $(this).find('option:selected');
                    if (selectedOption.val() === "OTHER") {
                        $("#other_location").val(/*[[${currentPerson.location}]]*/'');
                        $("#other_location").show();
                    } else {
                        $("#other_location").hide();
                        $("#other_location").val(selectedOption.text());
                    }
                });
            });
            /*]]>*/
        </script>
    </body>
</html>
