<configuration>
    <contextName>AnyOffice</contextName>

    <if condition='isDefined("catalina.home")'>
        <then>
            <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${catalina.home}/logs/${CONTEXT_NAME}.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>${catalina.home}/logs/${CONTEXT_NAME}.log.%d{yyyy-MM-dd}</fileNamePattern>
                </rollingPolicy>
                <encoder>
                    <pattern>%d [%thread] %-5level %logger{15} - %msg%n</pattern>
                </encoder>
            </appender>
        </then>
        <else>
            <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>logs/${CONTEXT_NAME}.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>$logs/${CONTEXT_NAME}.log.%d{yyyy-MM-dd}</fileNamePattern>
                </rollingPolicy>
                <encoder>
                    <pattern>%d [%thread] %-5level %logger{15} - %msg%n</pattern>
                </encoder>
            </appender>
        </else>
    </if>
    <appender name="APP" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="APP"/>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="org.apache.log4j.xml" level="info"/>
    <logger name="org.thymeleaf" level="warn"/>
    <logger name="org.hibernate" level="warn"/>
    <logger name="org.springframework" level="warn"/>
    <logger name="org.springframework.web.context.ContextLoader" level="info"/>
    <logger name="eu.bato" level="debug"/>

</configuration>
